header {
    width: 100;
    background-color: #A2121C;
    color:black;
}

footer{
    position: absolute;
    background: #a2121c;
    width: 100%;
    color: white;
    margin: 0px;
    padding: 0px;
}

.reservar{
    cursor: pointer;
}
.prestar{
    cursor: pointer;
}
.no_diponible{
    cursor: pointer;
}
tbody tr:hover{
background-color: #ddd;
color: #000;
font-weight: bolder;
}

img.rounded.float-left.ejemplo {
    margin : 10px;
    cursor: pointer;
}

footer .row{
    margin:10px -15px 0px;	

}
#footer .col-md-12{
    color:black;
    /*background :white ;*/
    height:11px;
}


div.col-md-9{
    margin:20px 0px 0px;	

}
ejemplo{
    margin : 10px;
}  

.bg-light {
    background-color: #ffff !important;
}


aside.col-md-3{
    margin : 20px 0px 0px;
}

section.main.row
{
    margin :30px 0px 60px;/*mirar el margen de la parte de abajo*/	
}

/*
nav.navbar.navbar-expand-lg.navbar-light.bg-light
{
        background-color: #5e2129;
        
}

button.btn.btn-secondary
{
        background:#154672;
}*/

#button#dropdownMenu2 {
    color: #212529;
    background: white;
}
.row.ejemplo
{
    background :white;
}
