RewriteEngine on

RewriteRule Validar$ Controlador/Usuario/Validar_Usuario.php
RewriteRule IntentoFallido$ Controlador/Usuario/Intentos_usuario.php
RewriteRule IntentoExitoso$ Controlador/Usuario/Intentos_usuarioExitoso.php
RewriteRule Multas$ Controlador/Usuario/Mostrar_multa.php
RewriteRule RegistrarVideoBeam$ Controlador/VideoBeam/RegistrarVideoBeam.php
RewriteRule ActualizarVideoBeam$ Controlador/VideoBeam/ActualizarVideoBeam.php
RewriteRule EliminarVideoBeam$ Controlador/VideoBeam/EliminarVideoBeam.php
RewriteRule BuscarVideoBeam$ Controlador/VideoBeam/BuscarVideoBeam.php
RewriteRule SbMasivaVideoBeam$ Controlador/VideoBeam/SubidaMasivaVideoBeam.php
RewriteRule SbMasivaUsuario$ Controlador/Usuario/SubidaMasivaUsuario.php
RewriteRule Insert_user$ Controlador/Usuario/Insertar_Usuario.php
RewriteRule Eliminar_user$ Controlador/Usuario/Eliminar_Usuario.php
RewriteRule Buscar_user$ Controlador/Usuario/Buscar_Usuario.php
RewriteRule Actualizar_user$ Controlador/Usuario/Actualizar_Usuario.php
RewriteRule CambioClave$ Controlador/Usuario/Cambio_Clave.php
RewriteRule Correo$ Controlador/Usuario/Correo_Usuario.php
RewriteRule RegistrarComputador$ Controlador/Computador/RegistrarComputador.php
RewriteRule BuscarComputador$ Controlador/Computador/BuscarComputador.php
RewriteRule EliminarComputador$ Controlador/Computador/EliminarComputador.php
RewriteRule ActualizarComputador$ Controlador/Computador/ActualizarComputador.php
RewriteRule SbMasivaComputador$ Controlador/Computador/SubidaMasivaComputador.php
RewriteRule CrearTema$ Controlador/Libro/CrearTema.php
RewriteRule EliminarTema$ Controlador/Libro/EliminarTema.php
RewriteRule ModificarTema$ Controlador/Libro/ModificarTema.php
RewriteRule BuscarTema$ Controlador/Libro/BuscarTema.php
RewriteRule CrearAutor$ Controlador/Libro/CrearAutor.php
RewriteRule BuscarAutor$ Controlador/Libro/BuscarAutor.php
RewriteRule EliminarAutor$ Controlador/Libro/EliminarAutor.php
RewriteRule ModificarAutor$ Controlador/Libro/ModificarAutor.php
RewriteRule ListarAutores$ Controlador/Libro/ListarAutores.php
RewriteRule ListarEditorial$ Controlador/Libro/ListarEditorial.php
RewriteRule ListarTema$ Controlador/Libro/ListarTema.php
RewriteRule ListarPublica$ Controlador/Libro/ListarPublica.php
RewriteRule ListarCategoria$ Controlador/Libro/ListarCategoria.php
RewriteRule SubirPortada$ Controlador/Libro/SubirPortada.php
RewriteRule CrearEditorial$ Controlador/Libro/CrearEditorial.php
RewriteRule BuscarEditorial$ Controlador/Libro/BuscarEditorial.php
RewriteRule EliminarEditorial$ Controlador/Libro/EliminarEditorial.php
RewriteRule ModificarEditorial$ Controlador/Libro/ModificarEditorial.php
RewriteRule CrearLibro$ Controlador/Libro/CrearLibro.php

#-------------------------------------------------------------------------------
RewriteRule ^gato.jsp$ js/MiLogica.js
RewriteRule ^Ingreso$ view/menu.php
RewriteRule tablaXid$ Controlador/Libro/Consultar_LibroXid.php
RewriteRule tablaXtitulo$ Controlador/Libro/Consultar_LibroXtitulo.php
RewriteRule tablaXautor$ Controlador/libro/Consultar_LibroXautor.php
RewriteRule tablaXtema$ Controlador/libro/Consultar_LibroXtema.php
RewriteRule tablaXEditorial$ Controlador/libro/Consultar_LibroXeditorial.php
RewriteRule tablaXFacultad$ Controlador/libro/Consultar_LibroXfacultad.php
RewriteRule Portada$ Controlador/libro/Consultar_LibroXPortada.php
RewriteRule Most_usuario$ Controlador/Usuario/Mostrar_Usuario.php
RewriteRule Conta_res$ Controlador/prestamo/Contador_Reservas.php
RewriteRule Tarjeta$ Controlador/Prestamo/Reserva_Tarjeta.php
RewriteRule reserva$ Controlador/prestamo/reservar_libro.php
RewriteRule Suprimir$ Controlador/prestamo/Cancelar_prestamo.php
RewriteRule Renovacion$ Controlador/prestamo/Renovacion_libro.php
#-------------------------------------------------------------------------------

#Serve Alternate Default Index Page
#DirectoryIndex presentacion/index.php